logs
project/project
project/target
public/papers/*
target
tmp/*
state/*
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/custom_lib/pdeboer/pplib_2.11/0.2-SNAPSHOT