@import play.Configuration
@import models.PaperResult

@(paper: Papers,hashedSecret:String,results: List[PaperResult], spellCheck: String, log: String)

@urlPrefix = {@Configuration.root().getString("url.prefix")}
@mainFrame("Show Paper") {
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center cover">
            <img class="cover-img" src="@{urlPrefix +
                    routes.Assets.at("papers/"+hashedSecret+"/cover.jpg").url}" >
            <div class="text-right">
            <img src="@{urlPrefix + routes.Assets.at("images/pdf.png").url}" class="cover-ico text-right">
            </div>
            <a target="_blank" href="@{urlPrefix + routes.Assets.at("papers/"+hashedSecret+"/"+paper.name).url}">
                <button class="btn btn-primary">Download Paper</button>
            </a>
            <!--<button class="btn btn-primary">Update Paper</button>-->
            <button class="btn btn-danger">Delete Paper</button>
        </div>
        <div class="col-md-8">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Statistics
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            @for((result,index) <- results.zipWithIndex) {
                                @if(result.resultType < 3000) {
                                    @if(index == 0 || result.resultType / 1000 != results(index - 1).resultType / 1000) {
                                        @((result.resultType / 1000) * 1000) match {
                                            case PaperResult.TYPE_BASICS => {
                                                <h3>Basic Tests</h3>
                                            }
                                            case PaperResult.TYPE_M2A => {
                                                <h3>Methods and Assumptions</h3>
                                            }
                                            case PaperResult.TYPE_STATCHECK => {
                                                <h3>Statcheck</h3>
                                            }
                                        }
                                    }
                                    <div class="row">
                                        <div class="col-md-6">
                                            @(result.symbol) match {
                                                case PaperResult.SYMBOL_OK => {
                                                    <span class="glyphicon glyphicon-ok text-success"></span>
                                                }
                                                case PaperResult.SYMBOL_WARNING => {
                                                    <span class="glyphicon glyphicon-warning-sign text-warning"></span>
                                                }
                                                case PaperResult.SYMBOL_ERROR => {
                                                    <span class="glyphicon glyphicon-ban-circle text-danger"></span>
                                                }
                                            }
                                                &nbsp;
                                            @Html(result.descr)
                                        </div>
                                        <div class="col-md-6">
                                        @Html(result.result)
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Layout & Style
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                        @for((result,index) <- results.zipWithIndex) {
                            @if(result.resultType > 3000) {
                                @if(index == 0 || result.resultType/1000 != results(index-1).resultType/1000) {
                                    @((result.resultType/1000)*1000) match {
                                        case PaperResult.TYPE_LAYOUT => {
                                            <h3>Basic Tests</h3>
                                        }
                                    }
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        @(result.symbol) match {
                                            case PaperResult.SYMBOL_OK => {
                                                <span class="glyphicon glyphicon-ok text-success"></span>
                                            }
                                            case PaperResult.SYMBOL_WARNING => {
                                                <span class="glyphicon glyphicon-warning-sign text-warning"></span>
                                            }
                                            case PaperResult.SYMBOL_ERROR => {
                                                <span class="glyphicon glyphicon-ban-circle text-danger"></span>
                                            }
                                        }
                                        &nbsp;
                                        @Html(result.descr)
                                    </div>
                                    <div class="col-md-6">
                                    @Html(result.result)
                                    </div>
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Spellchecker
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body" style="padding-top:15px">
                            @Html(spellCheck)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Processing Log
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body" style="padding-top:15px">
                            @Html(log)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .cover {
            padding-right:30px;
        }
        .cover button {
            position: relative;
            top: -70px;
            margin-top: 7px;
            width:135px;
        }
        .cover-img {
            width: 100%;
            border: 1px solid #e7e7e7;
        }

        .cover-ico {
            height: 100px;
            position: relative;
            top: -85px;
            left: 15px;
        }

        .panel-body {
            padding-top: 0px;
        }

        .m2aFlag {
            float:right;
        }
    </style>
}
