@import play.Configuration

@(id: Int, secret: String, name: String, stats: Map[String,String])

@stat(descr: String, result:String, tabStart:Boolean = false) = {
	<div class="row">
		<div class="col-sm-3">&nbsp;</div>
		<div class="col-sm-4 text-left tabStart-@tabStart">
			@Html(descr)
		</div>
		<div class="col-sm-2 text-right">
			@Html(result)
		</div>
		<div class="col-sm-3">&nbsp;</div>
	</div>
}

@urlPrefix = {@Configuration.root().getString("url.prefix")}
@mainFrame("Conference Editor") {
	<div class="row text-center">
		<h1>@name</h1>
		<h3>Statistics</h3>
		@stat("Number of papers <b>submitted</b> to the conference:",
			"<b>"+stats("submittedPapers")+" Papers</b>")
		@stat("Errors detected with <b>StatChecker</b>:",
			"<b>"+stats("statcheckErrorsTotal")+
					" Errors</b> in " + stats("statcheckErrorPapers")+" Papers")
		@stat("Detected <b>Statistical Methods</b>:",
			"<b>"+stats("methodsTotal")+" Methods</b> in " + stats("methodsPapers")+" Papers")
		@stat("Extracted <b>Methods and assumptions</b> pairs:",
			"<b>"+stats("m2aTotal")+" Pairs</b> in "+stats("m2aPapers")+" Papers")
		<!--stat("<span class='glyphicon glyphicon-flag text-warning'></span>Paper containing a <b>required</b> Flag: ",
				stats("m2aRequired")+" Flags",true)
			stat("<span class='glyphicon glyphicon-flag text-danger'></span>Paper containing a <b>expected</b> Flag: ",
				stats("m2aExpected")+" Flags",true)-->

		<h3>Methods & Assumptions</h3>
		You can flag, edit or link the statistical methods and assumptions according to you needs:
		<div class="row conf-editor">
			<div class="col-md-3">

			</div>
			<div class="col-md-6">
				<div class="col-md-4 text-center">
					<a href="@{urlPrefix + routes.Conference.flagEditor(id,secret).url}">
						<span class="glyphicon glyphicon-flag"></span><br>
						<b>Flag</b><br>
						Methods & Assumptions
					</a>
				</div>
				<div class="col-md-4 text-center">
					<a href="@{urlPrefix + routes.StatTerms.showStatTerms(id,secret).url}">
						<span class="glyphicon glyphicon-list"></span><br>
						<b>Edit</b><br>
						Methods & Assumptions
					</a>
				</div>
				<div class="col-md-4 text-center">
					<a href="@{urlPrefix + routes.StatTerms.method2assumptions(id,secret).url}">
						<span class="glyphicon glyphicon-link"></span><br>
						<b>Link</b><br>
						Methods & Assumptions
					</a>

				</div>
			</div>
		</div>
	</div>
	<style>
		.tabStart-true {
			padding-left: 40px;
		}
		.conf-editor .glyphicon {
			font-size:40px;
			margin:15px;
		}
	</style>

}