@import play.Configuration


@urlPrefix = {@Configuration.root().getString("url.prefix")}
@mainFrame("Welcome to PaperValidator") {
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 text-center">
			<h1>Welcome to PaperValidator</h1>
			<p>Start by watching a short introduction movie, which shows how a PDF can be uploaded:</p>
			<a href="http://www.youtube.com/watch?v=fCDdrjJxUV4">
				<img src="@{urlPrefix + routes.Assets.at("images/movie-mock.jpg").url}" alt="Movie Mock" class="movie-mock" style="width:100%;max-width:650px">
			</a>

			<!--<div class="embed-responsive embed-responsive-16by9" style="margin:30px 0px">
				<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/_7b7er3MZ1c" frameborder="0" allowfullscreen></iframe>
			</div>-->
		</div>
	</div>
}